<script type='text/javascript'>
	// iffy to reload the page once
	(function()
		{
		  if( window.localStorage )
		  {
		    if( !localStorage.getItem( 'firstLoad' ) )
		    {
		      localStorage[ 'firstLoad' ] = true;
		      window.location.reload();
		    }  
		    else
		      localStorage.removeItem( 'firstLoad' );
		  }
	})();
</script>

<h3>Items for sale</h3>
</br>

<div ng-controller="ItemsController">
	<div class="row">
	  <div class="container text-center">
	  	<div ng-repeat="item in items" class="col-sm-4">
	  		<img src="#" alt="" style="width: 200px; height: 200px;">
				<p><a href="/#/details/{{items.indexOf(item)}}">View Item</a></p>
	  		<h4>{{ item.item_name }}</h4>
	  		<p>{{ item.item_cost }}</p>
	  		<p>{{ item.item_description }}</p>
	 		</div>
	  </div>
	</div>
</div>
